
#desktop_about_me{
    display: none;
}

#mobile_about_me {
    width: 90%;
    text-align: center;
    margin: 0px 5%;
    display: flex;
    flex-direction: column;
}

#mobile_about_me .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    color: white;
}

#about_me_img {
    width: 90%;
    max-height:400px;
    margin: 10px 5%;
    border-top: 5px solid #00ffff;
    border-left: 5px solid #00ffff;
}


.tablinks {
    cursor: pointer;
    padding: 10px;
    border: 1px solid white;
    background-color: #212121;
    color:#00ffff;
    font-size: 15px;
    transition: 0.4s;
}

#download_cv {
    margin: 10px 40%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #00ffff;
}


/* css the same header design for mobile screen sizes from 0-568px, */
@media all and (min-width:0px) and (max-width: 568px) {
}

/* css the same header design for tablet screen sizes from 569-768px, */

@media all and (min-width:569px) and (max-width: 768px) {

    #about_me_img, .tablinks, #mobile_about_me .content {
        width: 60%;
        margin: 0px 20%;
    }

}

/* css the same header design for desktop screen sizes */
@media all and (min-width:769px) {

    #mobile_about_me {
        display: none;
    }

    #about_me {
        display: flex;
        flex-direction: row;
    }


    #desktop_about_me {
        margin-top:10px;
        display: flex;
        flex-direction: column;
    }

    #about_me_img {
        width: 40%;
    }

    #desktop_about_me .content_deskt {
        display: none;
        color: white;
        padding: 0 18px;
    }

    .tablinks_desktop {
        cursor: pointer;
        padding: 10px;
        border: 1px solid white;
        background-color: #212121;
        color: #00ffff;
        font-size: 15px;
        transition: 0.4s;
    }

    
}