
body, html {
    margin: 0;
    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
    background-color: #262626;
}

header {
    margin: 0px;
    width:100%;
    background-color: #212121;
    color: white;
    height: 90px;
}

/*logo header design*/
header img{
    position:absolute;
    margin-left:50px;
    margin-top:10px;
    width:70px;
    height:70px;
}

 /* navbar for mobile design */
    header .mobile_nav {
        position: absolute;
        display: none;
    }

    /* design of the three lines of mobile menu */
    header .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #00ffff;
        margin: 6px 0; 
    }

 /* navbar for desktop design */
    header nav {
        position: absolute;
        overflow: hidden;
        width: 100%;
    }

header ul {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    column-gap: 20px;
    margin-top:30px;
    margin-right: 50px;
}

li {
    
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

.active {
    color: #00ffff;
}

/* css the same header design for mobile screen sizes from 0-568px, */
@media all and (min-width:0px) and (max-width: 568px) {

    header {
        height: 70px;
    }

    header img {
       position: absolute;
       margin-top: 10px;
       width: 50px;
       height: 50px;
    }

    header .mobile_nav {
     display: block;
     top: 15px;
    }

    header nav {
            display: none;
    }
}

/* css the different header design for small screen sizes from 0-320px, */
@media all and (min-width:0px) and (max-width: 320px) {
            header img {
                margin-left: 10px;
            }
            header .mobile_nav {
                right: 10px;
            }
}

/* css the different header design for small screen sizes from 321-480px, */
@media all and (min-width:321px) and (max-width: 480px) {
            header img {
                margin-left: 15px;
            }
            header .mobile_nav {
                right: 15px;
            }
}

/* css the different header design for small screen sizes from 481-568px, */
    @media all and (min-width:481px) and (max-width: 568px) {
            header img {
                margin-left: 20px;
            }

            header .mobile_nav {
                right: 20px;
            }
    }

/* css header design for tablet screen sizes: 569-768px, */
    @media all and (min-width:569px) and (max-width: 768px) {
        header {
            height: 80px;
        }

            header img {
                position: absolute;
                margin-left: 30px;
                margin-top: 15px;
                width: 50px;
                height: 50px;
            }

            header .mobile_nav {
                display: block;
                top: 20px;
                right: 30px;
            }

            header nav {
                display: none;
            }
    }

/* css header design for other desktop screen sizes */
    @media all and (min-width:769px) {
    }


/*
        
#presentation {
    display:flex;
    justify-content:space-between;
    height:100vh;
    margin: auto 50px;
    color:white;
}

/* design of the description of me part 
#description {
    width: 40%;
    height: 80vh;
    margin: 200px auto;
}

    #description h2 {
        color: #00ffff;
    }

    #description p {
        font-style: italic;
        letter-spacing: 5px;
        line-height: 30px;
        justify-content: space-around;
    }

    #description button {
        background-color: #00ffff;
        padding: 20px;
        border: 1px dashed black;
        border-radius: 50%;
        margin: 50px 200px;
    }

    /* design of the down arrows 
    #description .down_arrow {
        border: solid black;
        border-width: 0 10px 10px 0;
        display: inline-block;
        padding: 10px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

#presentation_img {
    margin-top: 50px;
    width: 40%;
    height: 75vh;
}
    */