
#presentation {
    display:flex;
    justify-content:space-between;
    height:100vh;
    margin: auto 50px;
    color:white;
}

#description{
    width:40%;
    height:80vh;
    margin: 200px auto;
}

    #description h2 {
        color: #00ffff;
    }

    #description p {
        font-style: italic;
        letter-spacing: 5px;
        line-height: 30px;
        justify-content: space-around;
    }

    #description button {
        background-color: #00ffff;
        padding:20px;
        border:1px dashed black;
        border-radius: 50%;
        margin: 50px 200px;
        
    }

    #description .down_arrow {
        border: solid black;
        border-width: 0 10px 10px 0;
        display: inline-block;
        padding: 10px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    #presentation_img {
        margin-top:50px;
        width: 40%;
        height: 75vh;
    }
